.breadcrumbs {
  font-size: 16px;
  padding: 80px 0 60px;

  @include adpt ($tab-r) {
    
  }

  @include adpt ($bmob-r) {
    
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    padding-right: 15px;
    position: relative;

    &::after {
      position: absolute;
      content: "/";
      right: 5px;
      top: 2px;
      opacity: 1;
    }

    & a {
      transition: opacity 0.3s, color 0.3s;
      opacity: 1;
      padding: 2px 0;

      &:hover {
        opacity: 1;
        color: $accent;
      }
    }
  }

  &__item:last-child {
    opacity: 0.4;
    padding-right: 0;

    &::after {
      display: none;
    }
  }

}